.logo {
    font-weight: bold;
    font-size: 24px;
}
.purchase-button {
    background-color: green;
    width: 100%;
    min-height: 40px;
}
.menu-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}
.menu-icons i {
    font-size: 20px;
    font-size: xx-large;
    cursor: pointer;
}
.logo-letter {
    font-size: 28px;
    background-color: green;
    color: yellow;
    font-weight: bold;
    padding: 0px 12px;
    margin: 3px;
    display: inline-block;
}
* {
  border-radius: 0 !important;
}

body
{
    background-color: #fafafa;
}